<div>The {{ title }}-info.txt file contains the radius and the respective quality measure of each sucessfull clusterization, the plot of this information is:</div>
<img src="/static/{{ title }}/{{ title }}-info-plot.png" class="img-fluid" alt="" width="400" height="400" />
<div>And the best cluster process was the one with radius = {{ radius }}, generating the groups:</div>
<li>{{ group }}</li>
<div>To Download all resulsts click here: <a href="/coreapp/dl/{{ title }}">Download All Results</a></div> 
